a{
  text-decoration: none;
}

body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #d0c8b0;
}

header{
  background: #565E85;
  display: flex;
  padding: .5rem;
  margin:0;
  justify-content: space-between;
  align-items: center;
}

nav{
  text-decoration: none;
  color: #fff;
  text-align: right;
  margin-right: 25px;
}
h1 {
  margin-left: 20px;
  color: #fff;
}

p{
  margin: 20px;
}

h3{
  margin-left: 20px;
}

h2{
  margin-left: 20px;
}

/*Grid Container*/
#classes{
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 25% 25% 25% 25%;
}

.class{
  background: #565E85;
  margin: 25px;
  text-align: center;
}


footer{
  background: #565E85;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  padding: 2rem;
  margin:0;
}


nav a {
    color: #fff;
    text-decoration: none;
}
a:visited {
    color: #A6D17D;
    text-decoration: none;
}

a:hover {
    color: #82E8FF;
}
