html {
    font-size: 100%; /* keep */
    box-sizing: border-box; /* keep */
}
* {
    box-sizing: inherit; /* keep */
}


body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #d0c8b0;
}

header{
  background: #565E85;
  display: flex;
  padding: .5rem;
  margin:0;
  justify-content: space-between;
  align-items: center;
}

nav{
  text-decoration: none;
  color: #fff;
  text-align: right;
  margin-right: 25px;
}

.navbtn{
  padding: 10px;
  font-size: 1.5rem;
}

h1 {
  margin-left: 20px;
  color: #fff;
}

p{
  margin-left: 20px;
}

h3{
  margin-left: 20px;
}

h2{
  margin-left: 20px;
}

img{
  max-width: 40%;
  margin: 0 25px 25px 25px;
}

#game{
  background: #000;
  width: 60%;
  margin-left: 20px;
  margin-bottom: 25px;
  height: 50%;
}

footer{
  background: #565E85;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  padding: 2rem;
  margin:0;
}

#narration{
  background: #fff;
  padding: 1em;
  margin: 1em;
}

nav {
  font-weight: 500;
  font-size: 20px;
}

#game{
  background: #565E85;
  margin: 20px;
  width: 60%;
  padding-top: 20px;
}

#narration{
  background: #d0c8b0;
  padding: 20px;
  margin-top: 10px;
}

#start {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
  margin: 20px;
}
#startdiv{
  text-align: center;
}

li{
list-style-type: none;
text-align: center;
}

#halStats{
  display: inline;
  text-align: center;
  color: #fff;
}

.buttons{
background: #d0c8b0;
margin: 20px;
text-align: center;
padding: 5px;
font-weight: 600;
font-size: 1.4rem;
cursor: pointer;
}

#restart{
  background: #d0c8b0;
  margin: 20px;
  text-align: center;
  padding: 5px;
  font-weight: 600;
  font-size: 1.4rem;
  cursor: pointer;
}

.buttons2{
background: #d0c8b0;
margin: 20px;
text-align: center;
padding: 5px;
font-weight: 600;
font-size: 1.4rem;
cursor: pointer;
}

#full{
  display: flex;
  /*media query this for game*/
}

img{
  text-align: right;
  padding:20px;
  max-width: 40%;
}

#start:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
#start:active {
	position:relative;
	top:1px;
}

/* links*/

nav a {
    color: #fff;
    text-decoration: none;
}

a:visited {
    color: #A6D17D;
    text-decoration: none;
}
nav a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #82E8FF;
}

@media screen and (max-width: 1000px) {
  #full{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

p{
  margin: 35px;
}

h2, h3{
  margin: 35px;
}

#game{
width: 90%;
margin: 35px;
}

  .navbtn{
    padding: 10px;
    font-size: 1rem;
  }
  footer{
    padding: 40px;
    font-size: 10px;
  }

  img{
    max-width:50%;
    text-align: center;
  }
}
