body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

#game{
  background: #565E85;
  margin: 20px;
  width: 60%;
  padding-top: 20px;
  height: 40%;
}

#narration{
  background: #d0c8b0;
  padding: 20px;
  margin-top: 10px;
}

#start {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
  margin: 20px;
}
#startdiv{
  text-align: center;
}

li{
list-style-type: none;
text-align: center;
}

#halStats{
  display: inline;
  text-align: center;
  color: #fff;
}

.buttons{
background: #d0c8b0;
margin: 20px;
text-align: center;
padding: 5px;
font-weight: 600;
font-size: 1.4rem;
cursor: pointer;
}

#restart{
  background: #d0c8b0;
  margin: 20px;
  text-align: center;
  padding: 5px;
  font-weight: 600;
  font-size: 1.4rem;
  cursor: pointer;
}

.buttons2{
background: #d0c8b0;
margin: 20px;
text-align: center;
padding: 5px;
font-weight: 600;
font-size: 1.4rem;
cursor: pointer;
}

#full{
  display: flex;
  /*media query this for game*/
}

img{
  text-align: right;
  padding:20px;
  max-width: 40%;
  max-height: auto;
}

#start:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
#start:active {
	position:relative;
	top:1px;
}
